html {
  font-family: monospace;
  font-size: 16px;
  background-color: midnightblue;
  color: white;
}

h1 {
  text-align: center;
}

h1::before {
  content: '~ ';
}

h1::after {
  content: ' ~';
}

.Chain {
  white-space: pre-wrap;
}

@media (min-width: 640px) {
  .Chain {
    width: 640px;
  }
}

.Chain-waitCursor::before {
  content: '▼';
  position: relative;
  top: -2px;
  left: 5px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: flash;
}
